<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New subject for {{ category.title }} Category</title>
</head>
<body>
    <h1>New subject for {{ category.title }} Category</h1> 

    <form method="post">
        {% csrf_token %}
        {% if error_messages %}
            <input id="subject-title" name="new_subject_title" type="text" 
                placeholder="Enter subject Title"
                class="form-control is-invalid">

                <div class="invalid-feedback">
                    {{ error_messages }}
                </div>
        {% else %}
            <input id="subject-title" name="new_subject_title" type="text"
                placeholder="Enter subject Title">
        {% endif %}

        <textarea id="subject-description" name="new_subject_description"
            placeholder="Enter subject description Here...">
        </textarea>

        <button id="submit-form" type="submit">Create subject</button>
    </form>
    
</body>
</html>