{% extends 'posts/base.html' %}

{% block title_text %}
    list of your categories
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="mt-3 mb-5">list of your categories</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <table id="categories-table" class="table">
                    {% for category in categories %}
                    <tr>
                        <td>
                            <a href="/categories/{{category.id}}/">
                                {{ forloop.counter }}: {{ category.title }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}