
    {% extends 'posts/base.html' %}

    {% block title_text %}
        {{ category.title }}
    {% endblock %}
    
    {% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>{{ category.title }}</h1>
            </div>
        </div>

        <div class="row">
            <ul id="list-of-subjects" class="list-group">
                {% for subject in subjects %}
                <li class="list-group-item">
                    {{ forloop.counter }}: {{ subject.title }}
                </li>
                {% endfor %}
            </ul>
            
            <a href="/categories/{{category.id}}/new/" id="add-new-subject">
                <button class="btn btn-info mt-3">Add New subject</button>
            </a>
        </div>

    </div>
    {% endblock %}
